@page
@model MyApp.Namespace.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="main-content">
    <h2>Om sidan</h2>
    <section class="about-content">
        <h2>Hej</h2>
        <p>Mitt namn är Andreas Nygård och jag är utvecklaren bakom denna webbplats. 
            Jag studerar webbutveckling på Mittuniversitetet där jag lärt mig olika 
            tekniker och metoder för att utveckla webbplatser. Denna webbplats är skapad som en 
            del av en uppgift i kursen "Webbutveckling med .NET". </p>
        <h3>Om webbplatsen</h3>
        <ul class="about-list">
            <li>
                <strong>Startsida:</strong> Innehåller grundläggande information och introduktion. Det finns även funktionalitet 
                för att toggla mellan bilder om man trycker på bilden.
            </li>
            <li>
                <strong>Razor:</strong> En undersida där jag använder Razor-syntax för att skapa dynamiskt innehåll.
            </li>
            <li>
                <strong>Om sidan:</strong> Denna sida, där det går att läsa lite om mig och denna webbplats.
            </li>
        </ul>
    </section>
</div>
