@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="main-content">
    <h2>Välkommen</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat exercitationem voluptate repudiandae doloribus dolorum rem, hic eius tempore ipsum impedit.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat exercitationem voluptate repudiandae doloribus dolorum rem, hic eius tempore ipsum impedit.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat exercitationem voluptate repudiandae doloribus dolorum rem, hic eius tempore ipsum impedit.</p>
</div>

