@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="main-content">
    <section class="welcome-section">
        <h2>Välkommen</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat exercitationem voluptate repudiandae doloribus dolorum rem, hic eius tempore ipsum impedit.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat exercitationem voluptate repudiandae doloribus dolorum rem, hic eius tempore ipsum impedit.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat exercitationem voluptate repudiandae doloribus dolorum rem, hic eius tempore ipsum impedit.</p>
    </section>
    <div class="image-container">
        <div class="image-frame">
            <img src="./images/yellow-flowers.jpg" alt="Bild 2">
        </div>
    </div>
</div>

