@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="main-content">
    <section class="welcome-section">
        <h2>Välkommen</h2>
        <p>Detta är uppgiften i laboration 1.1 i kursen "Webbutveckling med .NET". Den går ut på att skapa en enklare webbplats med ASP.net Core. </p>
        <p>Dagens datum är utskrivet i det övre högra hörnet. Koden för detta finns 
            på sidan "_Layout.cshtml". Datumet skrivs ut dynamiskt med razor-syntax.</p>
        <p>Utöver detta är sidan sektionerad enligt de wireframes som finns i uppgiftsbeskrivningen.</p>
    </section>
    <div class="image-container">
        <div class="image-frame">
            <img src="./images/yellow-flowers.jpg" alt="Blomma" id="image">
        </div>
    </div>
</div>

